* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #a7b650; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.box {
    background: #fdfdfd;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form-box {
    width: 100%;
    max-width: 400px;
}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0; /* Updated padding */
    border-bottom: 2px solid #070505; /* Updated border */
    margin-bottom: 20px;
    text-align: center;
    background-color: #f1e9e9; /* Updated background color */
    border-radius: 10px; /* Added border radius */
    color: #0e0c0c; /* Updated text color */
}

.form-box form .field {
    margin-bottom: 20px;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.form-box form .input input:focus {
    border-color: #6c63ff;
}

.btn {
    height: 40px;
    background: #4c44b6;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0 20px;
    width: 100%;
}

.btn:hover {
    background: #443bb0;
}

.link {
    text-align: center;
}

/********** HOMEPAGE **********/

.nav {
    background: #c78c8c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    z-index: 100;
}

.right-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

.right-links a {
    margin-left: 10px; /* Adjust margin between links */
    padding: 10px 15px; /* Adjust padding */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.right-links a:hover {
    background-color: #6c63ff;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.main-box {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
}

.bottom {
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 840px) {
    .main-box .top p {
        font-size: 24px;
        text-align: center;
    }
    
    }
    
    .top .box {
        margin: 10px 10px;
    }

    .bottom {
        margin-top: 0;
    }

